@import "tailwindcss";

body {
  overflow-x: hidden;
}

@theme {
  /* COLORS */
  --color-primary: #fff;
}
/* FONTS */
@font-face {
  font-family: "chillax";
  src: url("/fonts/Chillax-Medium.woff") format("woff");
}

@font-face {
  font-family: "voyage";
  src: url("/fonts/voyage.otf") format("opentype");
}
